body {font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    }
.header-section {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url("../image/Banner\ Image.png");
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    }
.header-section p {
    color: #FFF;
    padding-top: 77px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}
.header-section h3 {color: #FFF;
    margin: 150px 344px 177px 344px;
    padding-top: 0px;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */}
.holiday-offer h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 0px;
    margin-bottom: 0px;
    }
    .holiday-offer h5 {color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 10px;
        margin-bottom: 0px;}
    .holiday-offer h4 {color: #070211;
        text-align: center;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 5px;}
    .holiday-offer-img {margin-left: 300px;
        margin-top: 10px;}
    .midnight-party {background-image: url("../image/Vectorrr.png");
        width: 1320px;
        height: 600px;
        flex-shrink: 0;
        }
    .midnight-party h3 {width: 642px;
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 88px; /* 137.5% */
        letter-spacing: 7.04px;
        margin-left: 126px;
        padding-top: 200px;
        margin-bottom: 0px;}
    .midnight-party p {
        color: rgba(255, 255, 255, 0.80);
        width: 697px;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-left: 126px;
        padding-top: 0px;
        margin-top: 0px;
         /* 166.667% */}
.btn-1 {margin-left: 158px;
    
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;}
    .event {width: 1320px;
        height: 482px;
        flex-shrink: 0;
        background-color: #e4caca;}
    .all-event {margin: 50px 385px 214px 385px;
        padding-top: 100px;
        color: #070211;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 10px;}
    .event-description {color: #F00;}
    .btn-2 {display: inline-flex;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        border-radius: 8px;
        background: #F00;
        color: #FFF;
        width: 167px;
        height: 56px;
    margin-left: 150px;}
    .best-offer {display: flex;justify-content: space-around;gap: 10px;}
    .best-offer-left h6 {color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 250px;
        height: 29px;
        margin-bottom: 0px;}
    .best-offer-left h4 {color: #070211;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;
        width: 328px;
        height: 60px;
        margin-top: 0px;
        margin-bottom: 0px;}
    .best-offer-left p {color: rgba(7, 2, 17, 0.60);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 100;
        line-height: 20px;
        width: 393px;
        height: 128px;
        margin-top: 10px; /* 160% */}
    .best-offer-middle {width: 364.844px;
        height: 364.844px;
        flex-shrink: 0;
        border-radius: 463px;
        border: 15px solid #F00;
        padding: 49.08px;
        margin-top: 20px;
        margin-left: -50px;
}
.best-offer-right h4 {color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;}
.best-offer-right p {color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 100;
        line-height: 20px;
        width: 280px;
        margin-top: 0px;
        margin-bottom: 30px;
        text-justify: distribute; /* 160% */}
.holiday-sale {}
.holiday-sale h5 {color: #070211;
    font-family: Inter;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 0px;}
.holiday-sale h3 {color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0px;}
.holiday-sale p {color: rgba(17, 17, 17, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-top: 5px; /* 160% */}
.holiday-sale-heading {color:red;}
.fifty-percent {display: flex;
    justify-content: space-between;
    margin-top: 50px ;}
.fifty-percent-left {width: 429px;
    height: 433px;
    flex-shrink: 0;}
.fifty-percent-right {background-image: url("../image/Rectangle\ 1.png");
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    margin-right: -5px;
    }
.fifty-percent-right img {margin-left: -120px;}
.red-bottom {background-image: url("../image/Rectangle\ 2.png");
    width: 1320px;
    height: 229px;
    flex-shrink: 0;
    border-radius: 16px 0px 16px 16px;
    background: #F00;}
.best-gift {margin-top: 50px;}
.best-gift h5 {color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;}
.best-gift h4 {color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 0px;}
.best-gift p {color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 5px; /* 160% */}
.img-section-1 {display: flex;justify-content: space-between;}
.img-section-2 {display: flex; justify-content: space-between;margin-top: 10px;}
.img-section-1-1 {width: 424px;
    height: 450px;
    flex-shrink: 0;}
.subscribe {width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    color:#FF000000;
    margin-top: 50px;}
.subscribe-img {width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-left: 585px;
padding-top: 100px;}
.subscribe h3 {color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0px;}
.subscribe p {color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 5px;
   
     /* 160% */}
.input {display: flex;width: 648px;
    height: 72px;
    flex-shrink: 0;margin-left: 200px;}
.input-field {width: 648px;
height: 72px;
border-radius: 50px;
background: #FFF;}
.btn-3 {width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;}
.input-field p {margin: 25px 477px 25px 30px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}